.sidebar{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    
    grid-area: sidebar;
    display: grid;
    grid-template-rows: 1fr 11fr;
    // min-width: 7rem;
    border-right: 1px solid black;
}
.sidebar__top{
    margin: 1rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}
.sidebar__bottom{
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar__views{
    // margin-top: 1rem;
}
.sidebar__items{
    margin-top: 0.5rem;
    margin-left: 1rem;
}
.sidebar__item{

}